<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DS01_sqList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DS01_sqlist.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DS02_linkList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DS03_doubleLinkList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DS04_cycleList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DS05_CDNode.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DS05_cycleDoubleList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>DS06_SNode.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DS06_staticList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>DS07_seqStack.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DS08_LStack.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DS09_circleQueue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>DS10_LinkQueue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>DS11_seqString.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>DS12_linkString.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>464F854D28E6ED9600A091AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46946D8628CF7F0A001B2B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>469527FB28D99AA8003B885C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4695280728E1B0DC003B885C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46A2C6D328F04B2A009E8E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46F2A43828E41D9400763803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46F2A44E28E42B2600763803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46F8D54528F9802E00ACC81E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46FD4F0E28F1867A00AEE665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
